head
    title= title
    link(rel='stylesheet', href='/css/vendor/foundation.css')
    script(type='text/javascript', src='/js/vendor/custom.modernizr.js')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width')