title= title
link(rel='stylesheet', href='/css/vendor/foundation.css')
link(rel='stylesheet', href='/css/custom/style.css')
script(type='text/javascript', src='/js/vendor/custom.modernizr.js')
meta(charset='utf-8')
meta(name='viewport', content='width=device-width')
script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
script(type="text/javascript", src="/js/vendor/zurb.foundation/foundation.min.js")
script(type="text/javascript", src="/js/vendor/zurb.foundation/foundation.init.js")